---
import CldImage from "./CldImage.astro";

export interface Props {
  title: string;
  desc: string;
  treatmentList: string[];
  imageUrl: string;
}

const { title, desc, treatmentList, imageUrl } = Astro.props;
---

<div class="main">
  {
    imageUrl !== "" && (
      <CldImage src={imageUrl} alt={title} height="auto" width="auto" />
    )
  }
  <details>
    <summary>
      {title}
    </summary>
    <p>
      {desc}
      <details>
        {
          title === "community education classes" ? (
            <summary>class topics include</summary>
          ) : (
            <summary>common conditions treated</summary>
          )
        }

        <ul>
          {
            treatmentList !== undefined &&
              treatmentList.map((treatment) => {
                return <li>{treatment}</li>;
              })
          }
        </ul>
      </details>
    </p>
  </details>
  <hr />
</div>

<style>
  hr {
    margin: var(--base-padding);
  }
  img {
    width: 100%;
  }

  .main {
    margin: var(--base-padding);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  details {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  p > details {
    background-color: green;
  }

  details p,
  ul {
    margin: var(--base-padding);
    margin-top: 0.5rem;
  }

  details details {
    margin: var(--base-padding);
  }

  summary {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
  }
</style>
